@font-face {
    font-family: 'Cartner Sans W01';
    src: url('/font/carter-sans-w01.ttf') format('truetype')
    }
    body{
    font-family: "Cartner Sans W01" ;
    font-weight: 600;
    margin: 0;
    padding: 0px;
    color: #28282b;
    }
    .footer-wrapper{
        margin: auto;
        max-width: 1500px;
        text-align: center;
        }