/* address nav */
@font-face {
  font-family: 'Cartner Sans W01';
  src: url('/font/carter-sans-w01.ttf') format('truetype')
  }
  body{
  font-family: "Cartner Sans W01" ;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}

.navdiv {
  height: 85px;
  width: 100%;
  box-shadow: rgb(204 204 204) 0px 1px 0px 0px;
  display: flex;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255);
  padding: 0% 12% 0% 12%;
  box-sizing: border-box;
  /* justify-content: center; */
}

.logodiv {
  height: 100%;
  width: 85px;
  margin: auto;
  /* justify-content: center; */
}
#logoImgPay {
  width: 100%;
  height: 100%;
}
/* .addbag,
  .addadd,
  .addpay {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    margin-right: 5px;
    text-align: center;
    line-height: 22px;
    background-color: black;
  } */

/* .addhead::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px dashed rgb(153, 153, 153);
    left: 0px;
    top: 9.5px;
  } */
.payT {
  padding-left: 200px;
}
.containerPay {
  display: flex;
  margin-left: 180px;
  grid-area: "";
}
.credit-container {
  width: 300px;
  height: 334px;
  border: 1px solid lightgrey;
}
.credit-container1 > div,
.credit-container > div {
  height: 40px;
  border-bottom: 1px solid lightgrey;
  padding-left: 25px;
  padding-top: 15px;
  margin-left: 7px;
  margin-right: 7px;
}
.bottomtext {
  margin-top: 100px;
  text-align: center;
  padding-top: 10px;
  height: 40px;
  background-color: whitesmoke;
}
.credit-container1 {
  width: 450px;
  height: 350px;
  margin-left: 10px;
  border: 1px solid lightgrey;
}
.credit-container2 {
  width: 350px;
  height: 400px;
  margin-left: 10px;
}
.Sbox1 {
  width: 350px;
  height: 200px;
  border: 1px solid lightgrey;
  display: flex;
  border-bottom: none;
  background-color: rgb(221, 217, 217);
}
.box1 {
  padding-left: 30px;
  width: 280px;
  height: 250px;
  /* border: 1px solid blue; */
}
.box1 > div {
  margin-top: 25px;
}
.box2 > div {
  margin-top: 25px;
}

.box1 > div:nth-child(5) {
  margin-top: 25px;
  font-weight: 900;
}
.box2 {
  margin-top: 60px;
  margin-left: 50px;
  width: 150px;
  height: 200px;
  /* border: 1px solid red; */
}
.box2 > div:nth-child(4) {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
}
.Sbox2 {
  width: 350px;
  height: 45px;
  border: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  margin-bottom: 15px;
}
.Sbox3 {
  width: 350px;
  height: 150px;
  border: 1px solid lightgrey;
}
.Sbox3 > p {
  padding-left: 25px;
}
.Sbox3 > h3 {
  padding-left: 25px;
}
#shipbox {
  color: red;
  text-align: right;
  padding-right: 25px;
  padding-top: 70px;
  margin-bottom: 70px;
}
#inputS {
  width: 400px;
  height: 70px;
  border: 1px solid white;
  padding-left: 30px;
  border-bottom: 1px solid lightgrey;
  margin-left: 7px;
  outline: none;
}
.credit-container1 > p {
  padding-left: 30px;
}
.credit-container1 > h3 {
  padding-left: 30px;
}

#Ssize {
  width: 50px;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgrey;
}
#payNow {
  width: 380px;
  height: 50px;
  margin-top: 5px;
  background-color: white;
  text-align: center;
  color: black;
  margin-left: 35px;
}
.payNow-hover-underline-animation {
  display: inline-block;
  position: relative;
}

.payNow-hover-underline-animation:after {
  content: "PAY NOW";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 100%;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: black;
  color: white;
  transform-origin: bottom left;
  transition: transform 0.4s ease-out;
}
.payNow-hover-underline-animation:hover:after {
  content: "";
  transform: scaleX(0);
  background-color: color;
  transform-origin: bottom right;
}
#Scolor {
  color: grey;
}
#orderPlaced {
  display: none;
  width: 40%;
  height: 255px;
  /* margin-left: 25%; */
  margin: auto;
  border: 1px solid lightgrey;
  text-align: center;
  color: green;
  padding: 12px;
  box-sizing: border-box;
}
#shippingInfo {
  width: 95%;
  line-height: 1;
}
#shippingInfo > * {
  margin: 15px;
}
#orderPlaced > h5 {
  color: grey;
}
#orderPlaced > *:nth-child(4) {
  color: #fd7685;
  cursor: pointer;
}
