@font-face {
    font-family: 'Cartner Sans W01';
    src: url('/font/carter-sans-w01.ttf') format('truetype')
    }
    body{
    font-family: "Cartner Sans W01" ;
    font-weight: 600;
    margin: 0;
    padding: 0px;
    color: #28282b;
    /* overflow-x: hidden; */
    }
    header {
      /* background-color: red; */
    border-bottom: 1px solid rgb(185, 185, 185);
    height: 182px;
    width: 100%;
    position: fixed;
    margin: 0;
    z-index: 10;
    transition: ease 0.3s;
    background-color: white;
    width: 100%;
    }
    header ul{
    list-style: none;
    }
    header p{
    font-size: 13px;
    font-weight: 400;
    }
    .header-wrapper{
    margin: auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    }
    .header-center-div{
    text-align: center;
    width: 30%;
    }
    .header-left-div, .header-right-div{
    width: 35%;
    }
    .header-lists ul{
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    }
    .header-lists ul li{
    margin: 0px 16px;
    }   
    .mb-account{
      display: none;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      padding: 0px 40px;
      }
      .mb-account div{
      width: 50%;
      }
   .mb-header-lists{
      display: none;
      padding: 0px 40px;
      }
    .account{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    .account div{
    width: 50%;
    }
    .mb-account{
      display: none;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      padding: 0px 40px;
      }
      .mb-account div{
      width: 50%;
      }
      #submenu ul{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        gap: 13px;
        padding: 0px;
        padding-left: 10px;
        width: 70%;
        }
    #submenu ul li{
    margin: 0px 5px;
    cursor: pointer;
    }

   
    #header-help-img{
      padding-left: 10px;
      width: 90%;
      }
      #header-right-img{
        width: 30%;
      }
    #submenu{
    display: flex;
    justify-content: center;
    }
    .searchBox{
    position: relative;
    }
    #search{
    border: none;
    border-bottom: 1px solid black;
    font-size: 13px;
    letter-spacing: 3px;
    font-family: 'Cartner Sans W01';
    padding: 10px;
    width: 95%;
    background-color: transparent;
    }
    #search::placeholder{
      color: black;
    }
    input:focus{
    outline: none;
    }
    #searchBtn{
    border: none;
    position: absolute;
    background-color: transparent;
    right: 0;
    top: 0;
    margin-left: 0px;
    margin-top:25px ;
    cursor: pointer;
    color: black;
    }
    .menu>ul{
    display: flex;
    justify-content: center;
    gap: 45px;
    margin: 0px;
    }
    .menu li{
    padding-bottom: 20px;
    cursor: pointer;
    }
   
    .menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-bottom: 8px;
    }
    .dropdown {
    position: relative;
    display: inline-block;
    }

    .tooltip {
      display: inline;
      position: relative;
    }
    .tooltip:hover:after{
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      background: #444;
      border-radius: 8px;
      color: #fff;
      content: attr(title);
      margin: -82px auto 0;
      font-size: 16px;
      padding: 13px;
      width: 220px;
    }
    .tooltip:hover:before{
      border: solid;
      border-color: #444 transparent;
      border-width: 12px 6px 0 6px;
      content: "";
      left: 45%;
      bottom: 30px;
      position: absolute;
    }

    .dropdown-content {
    display: none;
    padding-top:20px;
    position: absolute;
    margin-top: 20px;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
    min-width: 160px;
    z-index: 1;
    opacity: 0;
    font-size: 14px;
    font-weight: 700;
    animation: fadeIn 0.2s ease-in both;
    }
    .dropdown-content-account {
      display: none;
      padding-top:10px;
      position: absolute;
      margin-top: 10px;
      background-color: white;
      border: 1px solid rgb(226, 226, 226);
      min-width: 120px;
      z-index: 1;
      opacity: 0;
      font-size: 14px;
      font-weight: 700;
      animation: fadeIn 0.2s ease-in both;
      color : black;
      margin-left: -36px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      .dropdown-content-account:before{
        border: solid;
        border-color: white transparent;
        border-width: 0px 9px 13px 9px;
        content: "";
        top:0;
        left: 45%;
        margin-top: -13px;
        position: absolute;
      }
    .dropdown-content ul{
      padding: 0px 15px;
    }
    #dropdown-content-account ul{
      display: block;
      padding: 0px 10px;
      padding-bottom: 13px;
    }
    #dropdown-content-account ul li{
      display: block;
      padding: 5px 0px;
      cursor: pointer;
      font-size: 13px;
      font-weight: 400;
    }
    #dropdown-content-account a{
     text-decoration: none;
     color: black;
    }
    #dropdown-content-account li:hover{
      color: grey;
      border-bottom: 1px solid grey;
     }
    .dropdown-content ul li:hover{
      color: grey;
    }
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropdown-content-account {display: block;}
    @keyframes fadeIn {
        from {
        opacity: 0;
        transform: translate3d(0, -1%, 0);
        }
        to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        }
        }

        .hover-underline-animation1 {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline-animation1:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
